.header-button {
    display: inline;
    padding-left: 10px;
    margin-left: 10px;
}

.footer-button {
    display: inline;
    padding-left: 10px;
    margin-left: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}